.rtl
    direction rtl
.vdp-datepicker
    position relative
    text-align left
    *
        box-sizing border-box

.vdp-datepicker__calendar
    position absolute
    z-index 100
    padding 23px 30px
    color #7e8eae
    background #fff
    width 345px
    font-size 18px
    box-shadow 0 8px 54px rgba(#000, .1)
    border-radius 4px

    .prev
    .next
        width 20px
        text-indent -10000px
        position relative
        color rgba(#7e8eae, .2)

        &:after
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          content ''
          width 0
          height 0
          border-style solid

    .prev
        margin-left 10px

        &:after
          border-width 9px 10px 9px 0
          border-color transparent currentColor transparent transparent
        &.disabled:after
            border-right 10px solid #ddd
    .next
        margin-right 10px
        &:after
            border-width 9px 0 9px 10px
            border-color transparent transparent transparent currentColor
        &.disabled:after
            border-left 10px solid #ddd

    .prev:not(.disabled)
    .next:not(.disabled)
    .up:not(.disabled)
      cursor pointer
      color #7e8eae

    .disabled
        color #ddd
        cursor default
    .flex-rtl
        display flex
        width inherit
        flex-wrap wrap

    .cell
        display inline-block
        padding 0 5px
        width (100/7)%
        height 40px
        font-size 18px
        line-height 40px
        text-align center
        vertical-align middle
        border-radius 4px
        &:not(.blank):not(.disabled):not(.selected).day
        &:not(.blank):not(.disabled):not(.selected).year
            cursor pointer
            &:hover
              background: rgba(#dceaff, .3);
        &.day.selected,
        &.year.selected
            color #000
            background #dceaff
            &.highlighted
                background #4bd
        &.highlighted
            background #cae5ed
            &.disabled
                color: #a3a3a3
        &.grey
            color #888

            &:hover
                background inherit

        &.day-header
            font-size 75%
            white-space nowrap
            cursor inherit
            &:hover
                background inherit

        &__inner
          padding 0 12px
          display inline-block
          cursor pointer
          border-radius 4px
          text-transform uppercase
          line-height 37px
          &:hover
              background: rgba(#dceaff, .3);

        &.month.selected .cell__inner
          color #000
          background #dceaff

    .month
      width 50%
      text-align left

    .year
      width 20%

.vdp-datepicker__clear-button
.vdp-datepicker__calendar-button
    cursor pointer
    font-style normal
    &.disabled
      color #999
      cursor default

.vdp-datepicker__header
  display flex
  justify-content space-between
  line-height 40px

.vdp-datepicker__body
  display flex
  flex-wrap wrap

.vdp-datepicker__control
  padding 0
  cursor pointer
  border none
  font-size 18px
  color #7e8eae
  text-transform uppercase
